export(row_t_equalvar)
export(col_t_equalvar)
export(row_t_paired)
export(col_t_paired)
export(row_t_onesample)
export(col_t_onesample)
export(row_t_welch)
export(col_t_welch)
export(row_cor_pearson)
export(col_cor_pearson)
export(row_oneway_equalvar)
export(col_oneway_equalvar)
export(row_oneway_welch)
export(col_oneway_welch)
export(row_kruskalwallis)
export(col_kruskalwallis)
export(row_bartlett)
export(col_bartlett)
export(row_jarquebera)
export(col_jarquebera)
export(row_ievora)
export(col_ievora)
export(row_flignerkilleen)
export(col_flignerkilleen)
export(row_wilcoxon_onesample)
export(col_wilcoxon_onesample)
export(row_wilcoxon_paired)
export(col_wilcoxon_paired)
export(row_wilcoxon_twosample)
export(col_wilcoxon_twosample)
