export(row.t.equalvar)
export(col.t.equalvar)
export(row.t.paired)
export(col.t.paired)
export(row.t.onesample)
export(col.t.onesample)
export(row.t.welch)
export(col.t.welch)
export(row.cor.pearson)
export(col.cor.pearson)
export(row.oneway.equalvar)
export(col.oneway.equalvar)
export(row.oneway.welch)
export(col.oneway.welch)
export(row.kruskalwallis)
export(col.kruskalwallis)
export(row.bartlett)
export(col.bartlett)
export(row.ievora)
export(col.ievora)
