export(row.t.equalvar)
export(row.t.paired)
export(row.t.onesample)
export(row.t.welch)
export(row.cor.pearson)
export(row.oneway.equalvar)
export(row.oneway.welch)
export(row.kruskalwallis)
export(row.bartlett)
export(row.ievora)
